events{}

http {

    # SSL configuration
    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;

    # Redirect HTTP to HTTPS
    server {
        listen 80;
        server_name app.${SERVER_NAME} auth.${SERVER_NAME} resource.${SERVER_NAME};
        return 301 https://$host$request_uri;
    }

    # Browser preferred language detection (does NOT require AcceptLanguageModule)
    map $http_accept_language $accept_language {
        ~*^pt pt;
        ~*^en en-US;
    }

    # Angular
    server {

        listen 443 ssl;
        server_name app.${SERVER_NAME};
        root /usr/share/nginx/html/;

        include /etc/nginx/mime.types;

        # Fallback to default language if no preference defined by browser
        if ($accept_language ~ "^$") {
            set $accept_language "pt";
        }

        # Redirect "/" to Angular application in the preferred language of the browser
        rewrite ^/$ /$accept_language permanent;

        # Everything under the Angular application is always redirected to Angular in the correct language
        location ~ ^/(pt|en-US) {
            try_files $uri /$1/index.html?$args;
        }
    }

    # Authorization server
    server {
        listen 443 ssl;
        server_name auth.${SERVER_NAME};

        location / {
            proxy_pass http://authorization-server:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    # Resource server
    server {
        listen 443 ssl;
        server_name resource.${SERVER_NAME};

        location / {
            proxy_pass http://resource-server:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
