.login-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-card {
  width: 360px;
}

.login-header {
  margin-bottom: 16px;
}

.login-field {
  width: 100%;
  margin-bottom: 16px;
}

.login-error {
  color: var(--sys-error);
}
