.login-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login-error {
  color: var(--sys-error);
}
